{% extends 'base.html' %}

{% block contenu %}

<div class="content">
      <div class="info-box">
      <h4 class="text-black">Liste des Etudiants</h4>
      <div class="table-responsive">
                  <table id="example2" class="table table-bordered table-hover" data-name="cool-table">
                    <thead>
                      <tr>
                        <th>Matricule #</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de Naissance</th>
                        <th>Filiaire</th>
                        <th>Niveau</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for etudiant in etudiants %}
                      <tr class='clickable' data-href='{% url 'etudiant' slug=etudiant.id %}', style="cursor:pointer;">
                        <td>{{etudiant.matricule}}</td>
                        <td>{{etudiant.name}}</td>
                        <td>{{etudiant.prenom}}</td>
                        <td>{{etudiant.birthday}}</td>
                          <td>{{etudiant.ref_filiaire}}</td>
                        <td>{{etudiant.ref_niveau}}</td>
                      </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                        <th>Matricule #</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de Naissance</th>
                        <th>Filiaire</th>
                        <th>Niveau</th>
                      </tr>
                </tfoot>
              </table>
                  </div>
      </div>

    </div>


{% endblock contenu %}


