{% extends 'base.html' %}

<script>
    function printCarteEtudiant(el){
        const restorepage = document.body.innerHTML;
        document.body.innerHTML = document.getElementById(el).innerHTML;
        window.print();
        document.body["innerHTML"] = restorepage;
    }
</script>

{% block contenu %}

<div class="container">
    <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row gutters-sm" id="genereCarte">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ etudiant.photo.url }}" alt="Admin" class="rounded-circle" width="150" height="160">
                    <div class="mt-3">
                      <h4>{{ etudiant.name }}</h4>
                      <p class="text-secondary mb-1">{{ etudiant.prenom }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Filiaire</h6>
                    <span class="text-secondary">{{ etudiant.ref_filiaire }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Niveau actuel</h6>
                    <span class="text-secondary">{{ etudiant.ref_niveau }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ etudiant.name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{ etudiant.prenom }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">date de Naissance</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{ etudiant.birthday }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Addresse</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ etudiant.adresse }}
                    </div>
                  </div>
                  <hr>

              </div>








        </div>
    </div>
    </div>
          </div>
                  <div class="row-space row m-b-4 m-lg-auto">

                    <div class="col-md-3">
                      <a class="btn btn-info " href='{% url 'updateEtudiant' etudiant.id %}'>Modifier les informations de l'etudiant</a>
                    </div>

                 <div class="col-md-3" id ='btnGenererCarte'>
                      <a class="btn btn-outline-secondary" onclick="printCarteEtudiant('genereCarte')" >Générer la carte étudiant</a>
                    </div>
                   <div class="col-md-3" id =''>
                      <a data-toggle="modal" data-target="#exampleModal" style="color: white" class="btn btn-danger">Supprimer cet etudiant</a>
                    </div>
              </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color:red;" class="modal-title" id="exampleModalLabel">Attention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Etes vous sure de vouloir supprimer l'étudiant {{ etudiant.prenom }} {{ etudiant.name }} de matricule {{ etudiant.matricule }} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuller</button>
          <form action="{% url 'deleteEtudiant' etudiant.id %}" method="POST">
              {% csrf_token %}

              <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>

      </div>
    </div>
  </div>
</div>
          </div>

{% endblock contenu %}