{% load static %}
<section class="w3-services">
	<div class="container">
			<div class="wthree_head_section">
				<h2 class="w3l_header">L'université Dakar Bourguiba</h2>
				<p>Une Université d'excellence</p>
			</div>
			<div class="row w3-services-grids">

				<div class="col-lg-4 w3-services-left-grid">
					<img src="{% static "images/udb2.jpg" %}" class="img-fluid" alt="">
				</div>
				<div class="col-lg-8 w3-services-right-grid">
				<div class="row w3-icon-grid-gap1">
					<div class="col-md-6 w3-icon-grid1">
						<i class="fas fa-paint-brush"></i>
						<div class="Supp">
							<h3>Education Spéciale</h3>
                            <p>Premiere université du Sénégal, expérience trés élevé</p>
					</div>
                        	</div>
					<div class="col-md-6 w3-icon-grid1">
						<i class="fas fa-book"></i>
						<div class="Supp">
							<h3>Formation en plein temps</h3>
							<p>Licence avec une formation en plein temps et des modules variés</p>
						</div>
					</div>
				</div>
				<div class="row w3-icon-grid-gap1">
					<div class="col-md-6 w3-icon-grid1">
						<i class="fas fa-user"></i>
						<div class="Supp">
							<h3>Professeurs qualifiés</h3>
							<p>Des enseignants cértifiés par le CAMES</p>
						</div>
					</div>
					<div class="col-md-6 w3-icon-grid1">
						<i class="fas fa-calendar"></i>
						<div class="Supp">
							<h3>Evenements Courants</h3>
							<p>Sports, journées d'integration, fosco et autres</p>
						</div>

					</div>
				</div>
				<div class="row w3-icon-grid-gap1">
					<div class="col-md-6 w3-icon-grid1">
						<i class="fas fa-graduation-cap"></i>
						<div class="Supp">
							<h3>Niveau Supérieure</h3>
							<p>Des formations à la hauteur de la réferences des plus grandes universites</p>
						</div>

					</div>
					<div class="col-md-6 w3-icon-grid1">
						<i class="far fa-clock"></i>
						<div class="Supp">
							<h3>CAMES et autres</h3>
							<p>Nos formations sont certifiés au niveau mondial</p>
						</div>

					</div>
				</div>
				</div>

		</div>
	</div>
</section>