	<section class="banner_top">
		<div class="slider">
			<div class="wrapper">

				<!-- Slideshow 3 -->
				<ul class="rslides" id="slider">
					<li>
						<div class="agile_banner_text_info">
							<h3>Des ténèbres vers la lumière </h3>
							<p>Génn Ci lëndëm tàbbi Ci leer</p>
						</div>
					</li>
					<li>
						<div class="agile_banner_text_info">
							<h3>Des ténèbres vers la lumière </h3>
							<p>Génn Ci lëndëm tàbbi Ci leer</p>
						</div>
					</li>
					<li>
						<div class="agile_banner_text_info">
							<h3>Des ténèbres vers la lumière </h3>
							<p>Génn Ci lëndëm tàbbi Ci leer</p>
						</div>
					</li>
					<li>
						<div class="agile_banner_text_info">
							<h3>Des ténèbres vers la lumière </h3>
							<p>Génn Ci lëndëm tàbbi Ci leer</p>
						</div>
					</li>
				</ul>
				<!-- Slideshow 3 Pager -->
				<ul id="slider3-pager">
                    {% load static %}
					<li><a href="#"><img src="{% static "images/front/bg11.jpg" %}" data-selector="img" alt=""></a></li>
					<li><a href="#"><img src="{% static "images/front/bg11.jpg" %}" data-selector="img" alt=""></a></li>
					<li><a href="#"><img src="{% static "images/front/bg12.jpg" %}" data-selector="img" alt=""></a></li>
					<li><a href="#"><img src="{% static "images/front/bg13.jpg" %}" data-selector="img" alt=""></a></li>

				</ul>
			</div>
		</div>
	</section>