<section class="w3ls_address_mail_footer_grids">
		<div class="container">
		<div class="row">
			<div class="col-sm-4 w3ls_footer_grid_left">
				<h5 class="sub-head">Addresse</h5>
				<p>12, Avenue Bourguiba
					<span>BP:15744 DAKAR-FANN</span>
				</p>
			</div>
			<div class="col-sm-4 w3ls_footer_grid_left">
				<h5 class="sub-head">Contactez nous</h5>
				<p>+221 33 825 36 11
					<span>+221 33 825 36 09</span>
				</p>
			</div>
			<div class="col-sm-4 w3ls_footer_grid_left">
				<h5 class="sub-head">Envoyez vos mails</h5>
				<p>
					<a href="mailto:info@example.com"> info@udb-sn.com</a>
					<span>
						<a href="mailto:info@example.com"> info2@udb-sn.com</a>
					</span>
				</p>
			</div>
			</div>


		</div>
	</section>