	<section class="ser-agile">
			<div class="container">
				<div class="wthree_head_section">
					<h3 class="w3l_header w3_agileits_header two">Niveaux</h3>
				</div>
					<div class="row w3l-info">
							<div class="col-lg-4 ser-lef-agile">
								<div class="grid1">
									<h5>3 ans de formation</h5>
									<h4>Licence</h4>
									<h6>Le Diplôme de Licence sanctionne la fin des études de Licence.</h6>
								</div>
							</div>
							<div class="col-lg-4 ser-lef-agile">
								<div class="grid1">
									<h5>2 ans continus</h5>
									<h4>Master</h4>
									<h6>Le Diplôme de Master sanctionne la fin des études de spécialisation de 5ème année.</h6>
								</div>
							</div>
							<div class="col-lg-4 ser-lef-agile">
								<div class="grid1">
									<h5>Etudes doctorales</h5>
									<h4>Doctorat</h4>
									<h6>Le Doctorat sanctionne 3 ans d´études doctorales.</h6>
								</div>
							</div>
						</div>
				</div>
		</section>