<section class="features">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="w3l_header">Our Features</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
			</div>
			<div class="row about-main">
				<div class="col-md-7 about-right">
					<!-- stats -->
					<div class="stats">
						<div class="row stats_inner">
							<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
								<p class="counter-agileits-w3layouts">18</p>
								<div class="stats-text-wthree">
									<h3> Trophés</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
								<p class="counter-agileits-w3layouts">20</p>
								<div class="stats-text-wthree">
									<h3> Programmes</h3>
								</div>
							</div>
						</div>
						<div class="row stats_inner">
							<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
								<p class="counter-agileits-w3layouts">549</p>
								<div class="stats-text-wthree">
									<h3> Etudiants cértifiés</h3>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
								<p class="counter-agileits-w3layouts">5800</p>
								<div class="stats-text-wthree">
									<h3> Etudiants</h3>
								</div>
							</div>

						</div>
					</div>
					<!-- //stats -->

				</div>
				<div class="col-md-5 about-left">
					<img src="../../static/images/front/g1.jpg" class="img-fluid" alt="">
				</div>
				</div>
		</div>
	</section>