<section class="test">
		<div class="container">
			<div class="wthree_head_section">
					<h3 class="w3l_header w3_agileits_header two">What Students Says</h3>
				</div>
			<div class=" test-gr">
				<div class=" test-gri1">
					<div id="owl-demo2" class="owl-carousel">
						<div class="row agile">
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo hrms">
                                    {% load static %}
									<img src="{% static "images/front/ts1.jpg" %}" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor .</p>
									<h4>Shane Watson</h4>
									<span>Student</span>
								</div>
							</div>
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo">
									<img src="../../static/images/front/ts2.jpg" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor.</p>
									<h4>Steve Smith</h4>
									<span>Student</span>
								</div>
							</div>
						</div>
						<div class="row agile">
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo hrms">
									<img src="../../static/images/front/ts3.jpg" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor.</p>
									<h4>James Franklin</h4>
									<span>Student</span>
								</div>
							</div>
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo">
									<img src="../../static/images/front/ts1.jpg" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor .</p>
									<h4>Mitchel Starc</h4>
									<span>Student</span>
								</div>
							</div>
						</div>
						<div class="row agile">
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo hrms">
									<img src="../../static/images/front/ts2.jpg" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor .</p>
									<h4>Colling Wood</h4>
									<span>Student</span>
								</div>
							</div>
							<div class="col-md-6 test-grid">
								<div class="test-grid1-agileinfo">
									<img src="../../static/images/front/ts3.jpg" alt="" class="img-r">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis. Lorem ipsum dolor .</p>
									<h4>Mark Henry</h4>
									<span>Student</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>