{% include 'head.html' %}
{% load  static %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>Nos Formations à l'UDB</title>
      <!-- Meta Tags -->
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<meta name="keywords" content="Preparation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- // Meta Tags -->
      <!--booststrap-->
       {% load static %}
      <link href="{% static "dist/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="{% static "dist/css/front/fontawesome-all.css" %}" rel="stylesheet">
      <!-- //font-awesome icons -->
	  <link href="{% static "dist/css/front/owl.carousel.css" %}" rel="stylesheet">
      <!--stylesheets-->
		<link href="{% static "dist/css/front/style.css" %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
     <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
   </head>
<body class="what_you mt-5">
	<div class="container">
        <div>
            <a href="#"><img src="{% static "images/logo.png" %}" data-selector="img" alt=""></a>
        </div>
		<div class="wthree_head_section">
				<h3 class="w3l_header">Nos Formations</h3>
				<p>Des diplomes diverses et variés</p>
			</div>

			<div class="row about-info-grids">
				<div class="col-md-4 about-info about-info1">
					<i class="fas fa-solid fa-balance-scale"></i>
					<h4>UFR GENIE JURIDIQUE</h4>
					<div class="h4-underline"></div>
					<p>Une formation génie juridique de qualités ayant des débouchés comme notable internationale, juges...</p>
				</div>
				<div class="col-md-4 about-info about-info2">
					<i class="fas fa-solid fa-code"></i>
					<h4>UFR GENIE INFORMATIQUE</h4>
					<div class="h4-underline"></div>
					<p>Génie logiciel, MIAGE, réseau, vous avez une formation qualifiée pour devenir developpeur Web Mobile ou administrateur de systeme...</p>
				</div>
				<div class="col-md-4 about-info about-info3">
					<i class="fab fa-codepen"></i>
					<h4>UFR GESTION ECONOMIQUE</h4>
					<div class="h4-underline"></div>
					<p>L'economie au Sénégal et partout dans le monde est une filiaire trés prisé qui nécessite une bonne formation. Bourguiba offre une formation de qualité en economie et gestion.</p>
				</div>
			</div>
			<div class="bord"></div>
			<div class="row about-info-grids">
				<div class="col-md-4 about-info about-info1">
					<i class="fas fa-university"></i>
					<h4>UFR LANGUE DES AFFAIRES</h4>
					<div class="h4-underline"></div>
					<p>Langue et affaire internationale avec des professeur du domaine qualifiés et reconnu au niveau mondiale.</p>
				</div>
			</div>
	</div>
</body>